<main class="container-fluid  ">
  <div class="mx-1 mx-md-4">
    <section class="row ">
      <article class="col-12 col-sm-12 col-md-12 col-lg-12 mx-0 my-3">
        <section class="shadow-5 rounded-5" style="border-radius: 10px;background-color:lavender;">
          <!-- Date and Time -->
          <div class=" d-sm-flex justify-content-between align-items-center gap-5 pt-3 px-3 pb-lg-0">
            <h1 class=" text-center"><i class="fas fa-clipboard-list px-3 text-warning"></i>TO-DO-APP</h1>
            <div class="text-center d-flex flex-column flex-sm-row justify-content-end align-items-center gap-3 mb-3 ">
              <span class="fst-italic fw-bold bg-white shadow-5 rounded-pill px-3 py-2 me-2"><i
                  class="far fa-calendar-alt px-2"></i>{{date|date:'mediumDate'}}</span>
              <span class="fst-italic fw-bold bg-white rounded-pill shadow-4 px-3 py-2"><i class="far fa-clock "></i> :
                {{date|date:'mediumTime'}}</span>
            </div>
          </div>
          <!-- Add-Task -->
          <div class="px-3 pb-3">
            <div class="border border-3 border-dark px-auto rounded-3  mx-auto " style="max-width: 550px;">
              <div class="d-flex flex-column gap-2 justify-content-center align-items-center my-3 ">
                <label for="name" class="fw-bold">Enter the Task Details</label>
                <input type="text" id="name" title="task" class="form-control rounded-5 w-75 shadow-5 "
                  [(ngModel)]="inputData">
                <button mdbRipple type="button" class="btn btn-primary w-75 rounded-5" (click)=addTask()>Add</button>
              </div>
            </div>
          </div>
        </section>
      </article>

      <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <app-child [taskArray]=taskArray></app-child>
      </article>
    </section>
  </div>

</main>